body {
  overflow-x: hidden;
  height: 0;
  background-color: rgb(31, 21, 53);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#mobileNav {
  transform: translateX(-200vw);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 9999;
  width: 60vw;
  height: 100vh;
  transition-duration: .3s;
}

#mobileNav ul {
  height: 100%;
  width: 100%;
  background-color: rgb(31, 21, 53);
  color: white;
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#mobileNav ul h1 {
  color: white;
  text-decoration: underline;
}

#closeNav {
  cursor: pointer;
  display: none;
  justify-content: flex-end;
  padding: .5rem;
  font-size: 2.5rem;
  color: white;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 999;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

header ul li {
  margin-right: 1rem;
  list-style: none;
  padding: 0.5rem 0.7rem;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: rgba(42, 31, 68, 0.9);
  border-radius: 0.8rem;
  cursor: pointer;
}
header ul li:last-child {
  margin-right: 0rem;
}

header ul li a {
  color: #f0ff8a;
}

header ul li:hover {
  transition-duration: 0.23s;
  background-color: rgba(76, 60, 115, 1);
  box-shadow: 0 0 40px 5px rgb(255, 255, 255, 0.9);
  scale: 1.1;
}

header ul li:hover > a {
  color: white;
}

#section_1 {
  z-index: 1;
}

#Ribbon_2Con {
  position: absolute;
  z-index: 9;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#Ribbon_2 {
  width: 50vw;
}

#section_2 {
  position: relative;
  z-index: 99;
  margin-top: -15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#what_we_carry {
  position: absolute;
  top: 27vw;
  height: 43vw;
  width: 70%;
  background-color: rgba(245, 224, 209, 0.9);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 1);
  border-radius: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-around;
  padding: 30px;

  overflow-y: scroll;
}

#filigree_1 {
  width: 40%;
  fill: rgb(31, 21, 53);
}

h1,
h2,
h3,
p {
  color: rgb(31, 21, 53);
  font-family: "Goblin One", serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}
p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.landscape {
  display: inline;
  position: sticky;
  width: 100vw;
  max-width: 100vw;
}

footer {
  transform: translateY(-20vw);
  /* margin-top: 5rem; */
  padding: 30px;
  background: linear-gradient(
    to bottom right,
    rgb(31, 21, 53),
    rgb(31, 21, 53),
    rgb(81, 63, 121)
  );
  display: flex;
  justify-content: space-around;
  overflow: scroll;
}
footer div {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* width: fit-content; */
  max-width: 40%;
}

footer div p {
  padding: 0;
  line-height: 2.5rem;
  color: white;
  margin: 0;
}

#wbam {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 870px) {
  #what_we_carry {
    top: 22vw;
  }
  #what_we_carry h1 {
    font-size: 1.5rem;
  }
  #what_we_carry h2 {
    font-size: 1rem;
  }
  #what_we_carry p {
    font-size: 0.7rem;
  }
  footer {
    transform: translateY(-10vw);
  }
  footer div p {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 675px) {
  #mobileNav {
    display: none;
  }
  #mobileMenuIcon {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: -100;
  }
  #closeNav {
    z-index: -999;
    /* opacity: 0; */
  }
}
@media screen and (max-width: 675px) {
  #monitorHeader {
    display: none;
  }
  #mobileMenuIcon {
    cursor: pointer;
    display: initial;
    position:fixed;
    z-index: 999;
    top: 0;
    right: 0;
    margin: .5rem;
    width: 12vw;
    max-width: 2.5rem;
    background-color: rgba(245, 224, 209, 0.9);
    padding: .5rem .4rem;
    border-radius: .5rem;
    border: solid rgb(31, 21, 53) 1px;
  }
  #Layer_1 {
    transform-origin: center center !important;
    transform: scale(2) translateY(9rem) !important; 
  }
  #filigree_1 {
    width: 80%;
  }
  #what_we_carry h1 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  #what_we_carry h2 {
    font-size: 0.7rem;
  }
  #what_we_carry p {
    font-size: 0.5rem;
  }

  footer div p {
    font-size: 0.6rem;
  }
  footer {
    position: relative;
    bottom: -1.5rem;
    flex-direction: column;
  }
  footer div {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #section_1 {
  }
  #section_2 {
    overflow-x: hidden;
  }
  .cave {
    height: 100vh;
    margin-top: -13vw;
  }
  #filigree_1 {
    width: 70%;
  }
  #what_we_carry {
    width: 90%;
    height: 50%;
    margin-top: 10vh;
  }
  footer {
    bottom: 4.5rem;
  }
}

@media screen and (max-width: 540px) {
  .cave {
    margin-top: -18vw;
  }
}

@media screen and (max-width: 490px) {
  .cave {
    margin-top: -22vw;
  }
}

@media screen and (max-width: 420px) {
  .cave {
    margin-top: -20vw;
  }
  #section_2 {
    margin-top: -22vw;
  }
}